In [14]:
def square(x):
    return x**2
print([square(a) for a in range(11) ])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
lst =[1,2,3,4,5,6,7,8,9,10]               # way one 
list(map(lambda x:x**2 , lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
print(list(map(lambda x:x**2,range(1,11))))    # way 2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
num1 = [1,2,3]
num2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y,num1,num2))
print (added_numbers)

[5, 7, 9]

In [17]:
# map() to convert a list of strings to integers 

str_nums = ['1','2','3','4','5']
int_nums = list(map(int,str_nums))

print(int_nums)

[1, 2, 3, 4, 5]

In [18]:
# map() to change letter cases 

fruits = ['apple','banana','cherry']
upper_fruits = list(map(str.upper,fruits))
print(upper_fruits)

['APPLE', 'BANANA', 'CHERRY']

# FILTER

In [2]:
lst = [1,2,3,4,5,6,7,8,9,10]
def even(x):
    if x%2==0:
        return True
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
greater_than_five = list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9, 10]

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_and_greater_than_five = list(filter(lambda x: x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8, 10]